<div data-hook="admin_page_content_form_fields" class="row">
  <div class="col-md-6">
    <%= f.field_container :title, class: ['form-group'] do %>
      <%= f.label :title %>
      <%= f.text_field :title, class: 'form-control' %>
      <%= error_message_on :page_content, :title %>
    <% end %>

    <%= f.field_container :description, class: ['form-group'] do %>
      <%= f.label :description %>
      <%= f.text_area :description, class: 'form-control' %>
      <%= error_message_on :page_content, :description %>
    <% end %>

    <%= f.field_container :image, class: ['form-group'] do %>
      <%= f.label :image %>
      <%= f.file_field :image, class: 'form-control' %>
      <%= error_message_on :page_content, :image %>
    <% end %>

  </div>
</div>
