<% content_for :page_title do %>
  <%= Spree.t(:listing_page_contents) %>
<% end %>

<% content_for :table_filter do %>
  <div data-hook="admin_page_content_sidebar">
    <%= search_form_for [:admin, @search] do |f| %>
      <div class="row">
        <div class="col-xs-12 col-md-6">
          <div data-hook="admin_page_content_index_search" class="form-group">
            <%= f.label :title, Spree.t(:title) %>
            <%= f.search_field :translations_title_cont, class: "form-control js-quick-search-target js-filterable" %>
          </div>
        </div>

        <div class="col-xs-12 col-md-6">
          <div class="form-group">
            <%= label_tag :slug, Spree.t(:slug) %>
            <%= f.select :translations_slug_eq, Spree::PageContent.with_translations(I18n.locale).pluck(:slug), { include_blank: true }, class: 'select2 js-filterable' %>
          </div>
        </div>
      </div>

      <div class="form-actions" data-hook="admin_page_contents_index_search_buttons">
        <%= button Spree.t(:search), 'search' %>
      </div>

    <% end %>
  </div>
<% end %>



<%#content_for :page_actions do %>
  <%#= button_link_to Spree.t(:new_page_content), new_object_url, class: 'btn-success', icon: 'add', id: 'admin_new_page_content_link' %>
<%# end if can?(:create, Spree::PageContent) %>

<table class="table" id="listing_page_contents" data-hook>
  <thead>
    <tr data-hook="admin_page_contents_index_headers">
      <th><%= t(:title, scope: 'activerecord.attributes.spree/page_content') %></th>
      <th><%= t(:description, scope: 'activerecord.attributes.spree/page_content') %></th>
      <th data-hook="admin_page_contents_index_header_actions" class="actions"></th>
    </tr>
  </thead>
  <tbody>
    <% @page_contents.each do |page_content| %>
      <tr id="<%= spree_dom_id page_content %>" data-hook="admin_page_contents_index_rows" class="<%= cycle('odd', 'even')%>">
        <td><%= link_to page_content.title, edit_object_url(page_content) %></td>
        <td><%= page_content.description %></td>
        <td data-hook="admin_page_contents_index_row_actions" class="actions text-right">
          <%= link_to_edit page_content, no_text: true %>
          <%= link_to_delete page_content, no_text: true %>
          <% if page_content.persisted? %>
            <%= link_to_with_icon 'translate', nil, spree.admin_translations_path('page_contents', page_content.id), title: Spree.t(:'i18n.translations'), class: 'btn btn-sm btn-primary' %>
          <% end %>

        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @page_contents %>
